@import url("//fonts.googleapis.com/css?family=Inconsolata:700");

body {
  background-color: #111;
  color: #fff;
}

h5 {
  font-family: Inconsolata, Source Code Pro, Consolas, monospace;
  font-size: 65px;
  text-align:left;
  margin-left:30px;
  margin-top:200px;
}

.button {
  align-content: center;
  position: absolute;
  right: 50%;
  bottom: 30px;
  width:600px;
  height:100px;
  margin-left:10px;
  margin-bottom:20px;
  

}
a {
  font-family: Source Code Pro, Consolas, monospace;
  color: white;
  text-decoration: none;
  font-size: 60px;
}

body {
	
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  
}





@keyframes pulse {
  to {
    opacity: 1;
  }
}